<web-app>  
  
<servlet>  
<servlet-name>registration</servlet-name>  
<servlet-class>Registration</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>registration</servlet-name>  
<url-pattern>/servlet/register</url-pattern>  
</servlet-mapping>  
  
<welcome-file-list>  
    <welcome-file>register.html</welcome-file>  
</welcome-file-list>  
  
</web-app>